<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                    xmlns="http://www.w3.org/1999/xhtml"
                    template="../template/RegisterTemplate.xhtml">
        <ui:define name="TEST_MENU">
            <ui:include src="../menu/testMenu.xhtml" />
        </ui:define>
        <ui:define name="contentUtworzBrokera">
            <ui:include src="../template/contentUtworzBrokera.xhtml" />
        </ui:define>
    </ui:composition>

