<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsf/core">
                    
    <h:form>
        <h:panelGrid columns="3">
            
        <h:outputLabel value="#{msg['produktNazwa']}"/>
        <h:inputText value="#{utworzProduktPageBean.nowyProdukt.nazwapelna}" required="true" />
        <h:messages for="login" /> 
        
        <h:outputLabel value="#{msg['produktSkrot']}"/>
        <h:inputText value="#{utworzProduktPageBean.nowyProdukt.skrot}" required="true" />
        <h:messages for="login" /> 
        
        <h:outputLabel value="#{msg['produktKurs']}"/>
        <h:inputText value="#{utworzProduktPageBean.nowyProdukt.kurs}" required="true" />
        <h:messages for="login" /> 
        
        <h:outputLabel value="#{msg['produktStan']}"/>
        <h:inputText value="#{utworzProduktPageBean.nowyProdukt.stan}" required="true" />
        <h:messages for="login" /> 


        </h:panelGrid>
        <h:commandButton action="#{utworzProduktPageBean.utworzProdukt()}" value="#{msg['dodajProdukt']}" />
        <h:commandButton action="cancelNowyProdukt" value="#{msg['anuluj']}" immediate="true" />
    </h:form>
</ui:composition>