<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsf/core">
                    
    <h:form id="listaProduktow">
                <h:dataTable style="float: left" value="#{listProduktPageBean.oneProduktList}" var="produkt">
                    <h:column>
                        <c:facet name="header">Kurs</c:facet>
                        #{produkt.kurs}
                    </h:column>
                    <h:column>
                        <c:facet name="header">Nazwa pełna</c:facet>
                        #{produkt.nazwapelna}                       
                    </h:column>
                    <h:column>
                        <c:facet name="header">Skrót</c:facet>
                        #{produkt.skrot}                        
                    </h:column>
                    <h:column>
                        <c:facet name="header">Wielkość emisji</c:facet>
                        #{produkt.stan}                        
                    </h:column>
                </h:dataTable>
    </h:form>
</ui:composition>
