<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:panelGrid columns="2">
        <form method="post" action="j_security_check">
            <p class="czcionka">
                ${msg['konto.login']}:
                <input type="text" name= "j_username" />
            </p>
            <p class="czcionka">
                ${msg['konto.haslo']}:
                <input type="password" name= "j_password" />
            </p>
            <p>
                <input class="czcionka" type="submit" value="${msg['przycisk.login']}" />
            </p>
        </form>
    </h:panelGrid>


</ui:composition>

