<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <title>Dom Maklerski</title>
        <link href="../resources/cssLayout.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="top_1" class="top_1">
            <ui:insert name="TEST_MENU"></ui:insert>
        </div>
        <div id="top_2" class="top_2">
            <div class="horizontal">
                <div><ui:insert name="dropdownProdukty"></ui:insert></div>
                <div><ui:insert name="dropdownRejestracja"></ui:insert></div>
                <div><ui:insert name="przyciskiRejestracja"></ui:insert></div>
                <div><ui:insert name="utworzProduktButton"></ui:insert></div>
                <div><ui:insert name="edytujProduktButton"></ui:insert></div>
            </div>
        </div>
        <div id="content" class="content">
            <ui:insert name="contentLogin"></ui:insert>
            <ui:insert name="contentUtworzKlienta"></ui:insert>
            <ui:insert name="contentUtworzBrokera"></ui:insert>
            <ui:insert name="contentProduktDetails"></ui:insert>
            <ui:insert name="contentOneProduktDetails"></ui:insert>
            <ui:insert name="contentUtworzProdukt"></ui:insert>
            <ui:insert name="contentEdytujProdukt"></ui:insert>
        </div>
        <div id="bottom" class="bottom">
            <center><h:graphicImage value="/resources/Duke_8-copy.png" alt="SoccerDuke" style="width:80px;height:60px;"></h:graphicImage></center>
        </div>
    </body>
</html>
