<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html">
                    
<h:form id="rejestrujFormButtons">
    <p>
    <h:commandButton action="#{pageBean.potwierdzRejestracje}" value="#{msg['zarejestruj']}" />
    <h:commandButton action="homePage" value="#{msg['anuluj']}" immediate="true" />
    </p>
</h:form>
</ui:composition>

