<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <link href="resources/cssLayout.css" rel="stylesheet" type="text/css" />
    </head>
    <body>    
            <h:form>
                <h:panelGrid columns="2">
                        <h:outputLabel class="menu_text" value="#{msg['dropdownProdukty.outputLabel.oferta']}" />
                        <h:selectOneMenu value="${listProduktPageBean.wybranyProdukt}" >
                            <f:selectItem itemValue="#{null}" itemLabel="#{msg['selectItem.default']}" />
                            <f:selectItems  value="${produktBean.getListProdukt()}" var="produkt" itemValue="${produkt.skrot}" itemLabel="${produkt.skrot}" />
                        </h:selectOneMenu>
                        <h:commandButton action="#{listProduktPageBean.szczegolyProduktu()}" value="#{msg['produktDetails']}" />
                    </h:panelGrid>
            </h:form>
    </body>
</html>
