<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <link href="resources/cssLayout.css" rel="stylesheet" type="text/css" />
    </head>
    <body>    
            <h:form>
                <h:panelGrid columns="2" >
                        <h:outputLabel class="menu_text" value="#{msg['dropdownRejestracja.outputLabel.rejestracja']}" />
                        <h:selectOneMenu onclick="changePage(this.value)">
                            <f:selectItem itemValue="#{null}" itemLabel="#{msg['selectItem.default']}" />
                            <f:selectItem itemValue="klient" itemLabel="#{msg['dropdownRejestracja.selectItem.klient']}" />
                            <f:selectItem itemValue="broker" itemLabel="#{msg['dropdownRejestracja.selectItem.broker']}" />
                        </h:selectOneMenu>
                    </h:panelGrid>
            </h:form>
<script>
function changePage(selectedValue) {
switch (selectedValue) {
    case "klient":window.location.href = "http://localhost:8080/Kamil_Kalinski_edycja_JEE8/faces/konto/utworzKlienta.xhtml";
        break;
    case "broker":window.location.href = "http://localhost:8080/Kamil_Kalinski_edycja_JEE8/faces/konto/utworzBrokera.xhtml";
        break;
    default:
        break;
    }
}
</script>
    </body>
</html>
